oysterbuild.pm, www.oysterbuild.pm {
    reverse_proxy app:8000 {
        health_uri      /health
        health_interval 10s
        health_timeout  5s
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
    log {
        output file /data/access.log
    }
}